<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" enctype="http://localhost:8080/api/storage/upload">
    <div>
        <label for="image_uploads">Choose images to upload (PNG, JPG)</label>
        <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
    </div>
    <div class="preview">
        <p>No files currently selected for upload</p>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>


</body>
</html>